---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import TechItem from "@/components/TechItem";
import SocialList from "@/components/SocialList";
import { Image } from "@astrojs/image/components";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";
import profileImg from "../assets/Profile.jpeg";

const meta = {
	title: "Home",
	description: "The perfect starter for your perfect blog.",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.md");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section>
		<div>
			<Image
				src={profileImg}
				alt="Hasan Hüseyin's Profile Picture"
				width={125}
				height={125}
				class="rounded-lg max-w-none float-left mr-4"
			/>
			<h1 class="mb-2 title">Hello! I'm Hasan</h1>
			<p class="mb-2">
				I am a data scientist, consultant, and freelance developer based in
				Turkey. My main passion is to learn about new technologies, mathematics,
				blockchain, and finance. I am currently working at <a
					href="https://www.uni-yaz.com/"
					target="_blank"
					class="cactus-link"
				>
					Universal Software</a
				> as Research Scientist and
				<a href="https://oxyai.com/" target="_blank" class="cactus-link"
					>OxyAI</a
				> as Senior Machine Learning Engineer while giving consultancies to R&D Centers
				in Turkey.
			</p>
		</div>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">Technologies</h2>
		<ul class="space-y-4 sm:space-y-2">
			<TechItem title="Python" href="https://www.python.org"
				>Main programming language</TechItem
			>
			<TechItem title="Numpy" href="https://numpy.org/"
				>Main tool for scientific computing</TechItem
			>
			<TechItem title="Pandas" href="https://pandas.pydata.org/">
				Main tool for data manipulation (All the data stuff actually)
			</TechItem>
			<TechItem title="ScikitLearn" href="https://scikit-learn.org/stable/">
				Machine Learning framework for general usage
			</TechItem>
			<TechItem title="Tensorflow" href="https://www.tensorflow.org/">
				Deep Learning framework for industry projects
			</TechItem>
			<TechItem title="Pytorch" href="https://pytorch.org/">
				Deep Learning framework for personal projects
			</TechItem>
			<TechItem title="Rust" href="https://www.rust-lang.org/">
				Hobby language (Still in the learning stage)
			</TechItem>
			<TechItem title="Linux" href="https://www.linux.org/">
				Favorite operating system (Far superior than others - I use Arch BTW!)
			</TechItem>
		</ul>
	</section>
</PageLayout>
